

#MaidContent{
	width: 100%;
}

#MainContent .maidProfilePreview{
	display: inline-block;
	width: 380px;
	margin: 0 11.3px 22.6px;
	height: 300px;
	vertical-align: top;
}
	#MainContent .column-1{
		margin-left: 0;
	}
	#MainContent .column-0{
		margin-right: 0;
	}

	
	
	.previewContent{
	
		width: 230px;
		overflow: hidden;
		height: 350px;
		padding: 0 50px;
	}

		.headline{
		color: #ff6b6b;
				font-size: 6px;
				font-style: italic;
				text-align: center;
			
			margin: 0 auto;
			
			padding: 0px 0px;
			min-width: 130px;
			text-align: center;
		
		
			.headline a{
				color: #ff6b6b;
				text-decoration: none;
			}
			.headline h1{
				color: #ff6b6b;
				font-size: 12px;
				font-style: italic;
				text-align: center;
			}
			.previewContent h1:hover{
				text-decoration: underline;
				
			}
	.profileImageContainer{
		height: 230px;
		width: 0px;
		position: relative;
	}
		.profileImageContainer img.landscape{
			position: absolute;
			top: 50%;
		}
		.profileImageContainer img.portrait{
			position: absolute;
			left: 50%;
		}
		}
		.previewContent .stroke{
		}
		.previewContent img{
		}
		.previewContent p{
			color: #764a18;
			font-style: italic;
			font-size: 1.2em;
			text-align: center;
			margin: 0;
		}
	.cookieBottom{
		background: url(../images/maid-overview-cookie-bottom-bg.png) no-repeat center top;
		width: 100%;
		height: 17px;
	}
		