@font-face {
    font-family: 'leckerlioneregular';
    src: url('leckerlione-regular.eot');
    src: url('leckerlione-regular.eot?#iefix') format('embedded-opentype'),
         url('leckerlione-regular.woff') format('woff'),
         url('leckerlione-regular.ttf') format('truetype'),
         url('leckerlione-regular.svg#leckerlioneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#MainContent .maidProfilePreview{
	display: inline-block;
	width: 300px;
	margin: 0 00px 22.6px 50px;
	height: 420px;
	vertical-align: top;
	
}
	#MainContent .column-1{
		margin-left: 0;
	}
	#MainContent .column-0{
		margin-right: 0;
	}

	
	
	.previewContent{
		
		width: 230px;
		height: 420px;
		padding: 0 50px;
		overflow: hidden;
		
	}

		.headline{
			font-family: 'leckerlioneregular';
		       /*color: black;*/
				font-size: 30px;
				
				text-align: center;
			
			margin: 0 auto 10px auto;
			
			padding: 0px 0px;
			min-width: 130px;
			text-align: center;
		text-shadow: -1px 0 #000000, 0 1px #000000,
      1px 0 #000000, 0 -1px #000000, 2px 2px black, 2.5px 2.5px black ;
		}
			.headline a{
				/*color: #FD8DBF;*/
				text-decoration: none;
				
			}
			
			
		
#rang {
 border-bottom: dotted;
 font-family: 'leckerlioneregular';
 font-size: 15px;
 width: 220px;
}
#center{
	background:url(../images/maidrahmen.png);
	background-size: 250px 420px;
	
}