#newspage{
	position: relative;

margin-bottom: 30px;

width: 100%;

}
img{
	position: relative;
	z-index: 2;	
}
.newsheader{
	width:685px;
		height: 32px;
		position: absolute;
		top: 10px;
		padding-top: 10px;
		padding-left: 85px;
	
	background: url(../images/newsheader.jpg) no-repeat;
	background-size: 700px 32px;
	background-position: right;
	z-index: 1;
	
}

#paper {
	position: relative;
	width: 600px;
	left: 100px;
	padding: 40px 20px 15px;
	background: url(../images/newshg1.jpg);
	margin-top: -19px;
	outline-style: double;
	outline-top: none;
	outline-width: 5px;
	
}